# Python Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

# Text Type: str

In [1]:
x = "Hello Browseinfo"
print(type(x))

<class 'str'>

# Numeric Types: int, float, complex

In [2]:
a = 20
b = 20.5
c = 1j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# Sequence Types: list, tuple, range

In [3]:
h = ["king kohli", "mahibhai", "Ro-hit"]
w = ("king kohli", "mahibhai", "Ro-hit")
q = range(9)
print(type(h))
print(type(w))
print(type(q))

<class 'list'>
<class 'tuple'>
<class 'range'>

# Mapping Type: dict

In [4]:
z = {"name" : "Hardik Pandya", "age" :24 }
print(type(z))

<class 'dict'>

# Set Types: set, frozenset

In [11]:
x = {"A", "B", "C"}
y = frozenset({"A", "B", "C"})
print(type(x))
print(type(y))

<class 'set'>
<class 'frozenset'>

# Boolean Type: bool

In [12]:
d = {} 
print(bool(d))

False

# Python Operators

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

# Arithmetic operators

In [14]:
# Addition
x = 5
y = 3

print(x + y)

8

In [16]:
#Subtraction
x = 15
y = 4

print(x - y)

11

In [18]:
#Multiplication
x = 15
y = 4

print(x * y)

60

In [19]:
#Division
x = 12
y = 3

print(x / y)

4.0

In [20]:
#Modulus
x = 5
y = 2

print(x % y)

1

In [21]:
#Exponentiation
x = 2
y = 5

print(x ** y)

32

In [22]:
# Floor division
x = 15
y = 2

print(x // y)

7

# Assignment operators

In [23]:
x = 5

print(x)

5

In [24]:
x = 5

x += 3

print(x)

8

In [25]:
x = 5

x -= 3

print(x)

2

In [26]:
x = 5

x *= 3

print(x)

15

In [27]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [28]:
x = 5

x%=3

print(x)

2

In [29]:
x = 5

x//=3

print(x)

1

In [30]:
x = 5

x **= 3

print(x)

125

In [31]:
x = 5

x &= 3

print(x)

1

In [32]:
x = 5

x |= 3

print(x)

7

In [33]:
x = 5

x ^= 3

print(x)

6

In [34]:
x = 5

x >>= 3

print(x)

0

In [35]:
x = 5

x <<= 3

print(x)

40

# Comparison operators

In [36]:
x = 5
y = 3

print(x == y)

False

In [37]:
x = 5
y = 3

print(x != y)

True

In [38]:
x = 5
y = 3

print(x > y)

True

In [39]:
x = 5
y = 3

print(x < y)

False

In [40]:
x = 5
y = 3

print(x >= y)

True

In [41]:
x = 5
y = 3

print(x <= y)

False

# Logical operators

In [42]:
#and operator
x = 5

print(x > 3 and x < 10)

True

In [43]:
#or operator
x = 5

print(x > 3 and x < 10)

True

In [44]:
#not operator
x = 5

print(not(x > 3 and x < 10))

False

# Identity operators

In [45]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)

True
False

In [46]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is  not y)

False
True

# Membership operators

Membership operators are used to test if a sequence is presented in an object

In [47]:
# in
x = ["apple", "banana"]

print("banana" in x)

True

In [48]:
#
x = ["apple", "banana"]

print("pineapple" not in x)

True

# Bitwise operators

In [49]:
a = 10
b = 4
    
# Print bitwise AND operation    
print("a & b =", a & b)  
    
# Print bitwise OR operation  
print("a | b =", a | b)  
    
# Print bitwise NOT operation   
print("~a =", ~a)  
    
# print bitwise XOR operation   
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14