# List

# Create a List

Create a list by placing all the elements inside square bracket [], seperated by commas. List can
have any number of elements (int, float, string etc.)

In [39]:
# create a empty list
empty = []
empty

[]

We can use list() constructor to create a new list

In [40]:
# create a list using list() constructor
data = list((23, 653, 574847, 3738782))
data

[23, 653, 574847, 3738782]

In [41]:
# create a list of having integers
num_student = [12, 32, 15, 33]
num_student

[12, 32, 15, 33]

In [42]:
# create a list with mixed data types
age = ['Age', 23]
age

['Age', 23]

# Nested list
A list with another list as an item. This is called nested list

In [43]:
# create a nested list
nes_list = [['Age', 'Height', 'Weight'], [12, 4.5, 55]]
nes_list

[['Age', 'Height', 'Weight'], [12, 4.5, 55]]

# Acess Elements
Use the index operator [] to access an element in a list. Indices starts from 0

In [44]:
# create a list of colors
color = ['Yellow', 'Orange', 'Blue', 'Red']
# access the second element from the list
color[1]

'Orange'

# Negative Indexing
Negative indexing starts from the end, -1 refers to the last element

In [45]:
# display the last element from the list
color[-1]

'Red'

# Range of Indexes
Specify a range of indexes

In [46]:
# display the second, third, and fourth element
color[1:4]

['Orange', 'Blue', 'Red']

# Note: It will start at index 1 (included) and end at index 4 (not included)

In [47]:
# display the elements from the start to "Blue"
color[:3]

['Yellow', 'Orange', 'Blue']

In [48]:
# display the elements from "Orange" to end
color[1:]

['Orange', 'Blue', 'Red']

# Range of Negative Indexes

In [49]:
# display the elements from index -3(included) to index -1(not included)
color[-3:-1]

['Orange', 'Blue']

# Change Element Value
Refer the index number, to change the value of specific element

In [50]:
# change the value of second element
color[1] = 'Black'
color

['Yellow', 'Black', 'Blue', 'Red']

# List Methods
append() To add a element at the end of the list

clear() To remove all the elements from the list

copy() To create a copy of the list

count() To get the count of particular element present in the list

extend() To add the elements of the list at the end of the current list

index() To get the index of the particular element

insert() To add a element at the specified position

pop() To remove a element at the specified position

remove() To remove a element with the specified value

reverse() To reverse the order of the list

sort() To sort the elements from the list

# append()

In [1]:
a = ["Jasprit Bumarh", "M.Shami"]
print(a)
a.append("Bhuvneshwar Kumar")
print(a)

['Jasprit Bumarh', 'M.Shami']
['Jasprit Bumarh', 'M.Shami', 'Bhuvneshwar Kumar']

# extend()

In [2]:
a = ["Ravindra Jadeja", "Jonty Rhodes"]
print(a)
a.extend("Sureh Raina")
print(a)

['Ravindra Jadeja', 'Jonty Rhodes']
['Ravindra Jadeja', 'Jonty Rhodes', 'S', 'u', 'r', 'e', 'h', ' ', 'R', 'a', 'i', 'n', 'a']

In [4]:
a = ["Ravindra Jadeja", "Jonty Rhodes"]
print(a)
a.extend(["Sureh Raina"])
print(a)

['Ravindra Jadeja', 'Jonty Rhodes']
['Ravindra Jadeja', 'Jonty Rhodes', 'Sureh Raina']

# insert():inserts an item at a given position. insert(0, x)

In [5]:
h = ["Chahal", "Kuldeep Yadav"]
print(h)
h.insert(0, "Bhajjipa")
print(h)
h.insert(2, "Anil Kumble")
print(h)

['Chahal', 'Kuldeep Yadav']
['Bhajjipa', 'Chahal', 'Kuldeep Yadav']
['Bhajjipa', 'Chahal', 'Anil Kumble', 'Kuldeep Yadav']

# remove()

In [6]:
a = ["India", "Aus", "Eng"]
print(a)
a.remove("Eng")
print(a)

['India', 'Aus', 'Eng']
['India', 'Aus']

# pop()

In [ ]:
a = ["SA", "WI", "Ban"]
print(a)
a.pop()
print(a)

# clear()

In [9]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# remove all the elements from the list
food.clear()
food

[]

# Copy()

In [11]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# create a copy of list
food.copy()

['Rice', 'Panner', 'Chicken']

# count()

In [13]:
# create a list
product = ['Chips', 'Biscuits', 'Drinks', 'Numkeen', 'Chips', 'Biscuits', 'Chips']
# get the count of "Chips"
product.count('Chips')

3

# index()

In [14]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# dislay the index number
food.index('Panner')

1

# reverse()

In [15]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# reverse the order of elements from the list
food.reverse()
food

['Chicken', 'Panner', 'Rice']

# sort()

In [16]:
# create a list
alph = ['R', 'A', 'C', 'K']
# sort the elements
alph.sort()
alph

['A', 'C', 'K', 'R']

In [17]:
# create a list
num = [1, 4, 5, 7, 3]
# sort the numeric elements
num.sort()
num

[1, 3, 4, 5, 7]

# List Function

# len

In [20]:
a = ["YOYO", "NANANA", "HIAYAA"]
print(len(a))

3

# list

In [19]:
print(list())
print(list([]))
print(list(["H", "J", "K"]))
print(list([["H", "J"], ["K"]]))

a = "HI"
print(list(a))

a = ("I", "am", "a", "tuple")
print(list(a))

a = {"I", "am", "a", "set"}
print(list(a))

[]
[]
['H', 'J', 'K']
[['H', 'J'], ['K']]
['H', 'I']
['I', 'am', 'a', 'tuple']
['a', 'am', 'set', 'I']

# max

In [21]:
a = ["HI", "HOW", "YOU"]
print(max(a))

a = ["OK", "HM", "OOPS"]
print(max(a))

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(max(a, b))

YOU
OOPS
[1, 2, 3, 4, 5]

# min

In [23]:
a = ["HI", "HOW", "YOU"]
print(min(a))

a = ["OK", "HM", "OOPS"]
print(min(a))

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(min(a, b))

HI
HM
[1, 2, 3, 4]

# range

In [24]:
print(list(range(10)))
print(list(range(1,11)))
print(list(range(51,56)))
print(list(range(1,11,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[51, 52, 53, 54, 55]
[1, 3, 5, 7, 9]

# Tuple

# Create a tuple by placing all the elements inside round bracket ()

In [25]:
# create a tuple
names = ('Raj', 'John', 'Sita', 'Kia')
names

('Raj', 'John', 'Sita', 'Kia')

# tuple() constructor

In [26]:
# create a tuple using tuple() constructor
names = tuple(('Raj', 'John', 'Sita', 'Kia'))
names

('Raj', 'John', 'Sita', 'Kia')

# Acess Tuple Elements

Refer index number inside the square bracket to access the elements

In [27]:
# display the third element from the tuple
names[2]

'Sita'

# Negative Indexing

In [28]:
# display the last element
names[-1]

'Kia'

# Change Tuple Value

# We can not change values of the tuples. Tuples are immutable or unchangeable

Convert tuple into list to change its values

In [29]:
# change tuple into list
names = list(names)
names

['Raj', 'John', 'Sita', 'Kia']

In [30]:
# change the value of the tuple
names[1] = 'Kiran'
names

['Raj', 'Kiran', 'Sita', 'Kia']

# Add Items

We cannot add values into tuples. Tuples are unchangeable

In [31]:
# create a tuple
age = (32, 45, 56, 33)
age

(32, 45, 56, 33)

# Create a tuple with one element

In [33]:
# create a tuple
score = (222)
# check the type
type(score)

int

 We have to add a comma after the element to create a tuple with only one element, otherwise
python will not recognize it as tuple

In [34]:
# create a tuple
score = (222,)
# check the type
type(score)

tuple

# We cannot remove elements from the tuple, but we can delete the tuple completely

# Concatenate Two Tuples

In [35]:
# create a first tuple
age_less_20 = (12, 14, 15)
# create a second tuple
age_greater_20 = (26, 25, 24)

In [36]:
# join two tuples
age = age_less_20 + age_greater_20
age

(12, 14, 15, 26, 25, 24)

# Tuple Methods
count() To get the count of particular element present in the list

index() To get the index of the particular element

# cont()

In [37]:
# create a Tule
product = ('Chips', 'Biscuits', 'Drinks', 'Numkeen', 'Chips', 'Biscuits', 'Chips')
# get the count of "Chips"
product.count('Chips')

3

# index()

In [38]:
# create a Tuple
food = ['Rice', 'Panner', 'Chicken']
# dislay the index number
food.index('Panner')

1