# Assignment 9

 Write a Python class to get all possible unique subsets from a set of distinct integers.

Input : [4, 5, 6]

Output : [[], [6], [5], [5, 6], [4], [4, 6], [4, 5], [4, 5, 6]]

In [1]:
class Subset:
    def f1(self, s1):
        return self.f2([], sorted(s1))

    def f2(self, curr, s1):
        if s1:
            return self.f2(curr, s1[1:]) + self.f2(curr + [s1[0]], s1[1:])
        return [curr]


a = []
n = int(input("Enter number of elements of list: "))
for i in range(0, n):
    b = int(input("Enter element: "))
    a.append(b)
print("Subsets: ")
print(Subset().f1(a))

Enter number of elements of list: 3
Enter element: 4
Enter element: 5
Enter element: 6
Subsets:
[[], [6], [5], [5, 6], [4], [4, 6], [4, 5], [4, 5, 6]]

Write a Python class to find the three elements that sum to zero from a set of n real numbers.

In [6]:
 
def findTriplets(arr, n): 
  
    found = True
    for i in range(0, n-2): 
      
        for j in range(i+1, n-1): 
          
            for k in range(j+1, n): 
              
                if (arr[i] + arr[j] + arr[k] == 0): 
                    print(arr[i], arr[j], arr[k]) 
                    found = True
                    
    if (found == False): 
        print(" not exist ") 


arr =  [-25, -10, -7, -3, 2, 4, 8, 10] 
n = len(arr) 
findTriplets(arr, n)

-10 2 8
-7 -3 10

Write a Python class named Rectangle constructed by a length and width and a method which will compute the area of a rectangl

In [1]:
class rectangle():
    
    def __init__(self,breadth,length):
        
        self.breadth=breadth
        self.length=length
   
    def area(self):
        return self.breadth*self.length
    
a=int(input("Enter length of rectangle: "))

b=int(input("Enter breadth of rectangle: "))

obj=rectangle(a,b)
print("Area of rectangle:",obj.area())

Enter length of rectangle: 4
Enter breadth of rectangle: 5
Area of rectangle: 20

Convert Celsius To Fahrenheit

In [9]:
celsius = float(input("Enter temperature in celsius: "))

fahrenheit = (celsius * 9/5) + 32

print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 45
45.00 Celsius is: 113.00 Fahrenheit

Convert Fahrenheit to Celsius

In [10]:
fahrenheit = float(input("Enter temperature in fahrenheit: "))

celsius = (fahrenheit - 32) * 5/9

print('%.2f Fahrenheit is: %0.2f Celsius' %(fahrenheit, celsius))

Enter temperature in fahrenheit: 96
96.00 Fahrenheit is: 35.56 Celsius

# Assignment: 10

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [11]:
n=[]
for x in range(2000, 3200):
    
    if (x%7==0) and (x%5==0):
        n.append(str(x))
        
print (','.join(n))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.

Example

Suppose the following inputs are given to the program:

3,5

Then, the output of the program should be:

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [12]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    
    for col in range(col_num):
        
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Take a list, say for example this one:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [13]:
def elements_lessthan_five(l): 
    l1=[] 
    for i in l: 
        if i<5: 
            l1.append(i) 
             
    return(l1) 
     
print(elements_lessthan_five([1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]))

[1, 1, 2, 3]

 Write a Python program to create a list by concatenating a given list which range goes from 1 to n.
 
Sample list : ['p', 'q']

n =5

Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [14]:
my_list = ['p', 'q']
n = 4
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4']

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

Suppose the following input is supplied to the program:

34,67,55,33,12,98

Then, the output should be:

['34', '67', '55', '33', '12', '98']

('34', '67', '55', '33', '12', '98')

In [1]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 34,67,55,33,12,98
List :  ['34', '67', '55', '33', '12', '98']
Tuple :  ('34', '67', '55', '33', '12', '98')

Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(2 * C * D)/H]

Following are the fixed values of C and H:

C is 50. H is 30.

D is the variable whose values should be input to your program in a comma-separated sequence.

Example

Let us assume the following comma separated input sequence is given to the program:

100,150,180

The output of the program should be:

18,22,24

In [2]:
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]

for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100,150,180
18,22,24

to check if a string is palindrome or not

In [3]:
def pal_do(word):
    return word==word[::-1]

print(pal_do("wow"))
print(pal_do("mom"))
print(pal_do("harsh"))

True
True
False

Write a program (function!) that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Do following:

1) Write two different functions to do this - one using a loop and constructing a list, and another using sets.
2) Write this in one line of Python.

In [6]:
def harsh_j1(x):
    y = []
     for i in x:
        if i not in y:
            y.append(i)
        return y

def harsh_j2(x):
    return list(set(x))

a = [1,2,3,4,3,2,1]
print(a)
print (harsh_j1(a))
print (harsh_j2(a))

[1, 2, 3, 4, 3, 2, 1]
[1, 2, 3, 4]
[1, 2, 3, 4]